@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Student

<h1>Student</h1>

  <h2>@Html.DisplayFor(model=>model.Name) @Model.Date.ToShortDateString()</h2>

@if (Model.JoinEntities.Count != 0)
{
  <ul>
  @foreach (CourseStudent join in Model.JoinEntities)
  {
    <li>@join.Course.Name</li>
  }
  </ul>

}
@if (ViewBag.showForm == false)
{
  <p class="enlarge">@Html.ActionLink("Add A Course", "Details", new {showForm = true, id = Model.StudentId})</p>
}

@if (ViewBag.showForm == true)
{  
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)
    @Html.Label("Select Course")
    @Html.DropDownList("CourseId")    
    <input type="submit" value="Add Course"/>
  }
}

<p>@Html.ActionLink("Edit Student Info", "Edit", new {id = Model.StudentId, changeName = false, changeDate = false})</p>