@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Student

<h1>Student</h1>

  <h2>@Html.DisplayFor(model=>model.Name) @Model.Date.ToShortDateString()</h2>

@if (Model.JoinEntities.Count != 0)
{
  <ul>
  @foreach (CourseStudent join in Model.JoinEntities)
  {
    //working here--------------
    <div class="row">
        <div class="col-6">
          <li class="enlarge">@join.Course.Name</li>
        </div>
        <div class="col-6">
          <li class="enlarge">
            @using (Html.BeginForm("DropCourse", "Students"))
            {
              <button type="submit">Drop Course</button>
              @Html.Hidden("sId", @Model.StudentId)
              @Html.Hidden("cId", join.CourseId)
            }
          </li>
        </div>
      </div>
  }
  </ul>

}

@if (ViewBag.showForm == true)
{  
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)
    @Html.Label("Select Course")
    @Html.DropDownList("CourseId")    
    <input type="submit" value="Add Course"/>
  }
}

<ul>

  @if (ViewBag.showForm == false)
  {
    <li class="enlarge">@Html.ActionLink("Add A Course", "Details", new {showForm = true, id = Model.StudentId})</li>
  }

  <li class="enlarge">@Html.ActionLink("Edit Student Info", "Edit", new {id = Model.StudentId, changeName = false, changeDate = false})</li>

  <li class="enlarge">@Html.ActionLink("Unenroll Student", "Delete", new {id = Model.StudentId}, new { @style = "color: blue; font-size: small; text-align: right;"})</li>

</ul>


