@{
  Layout = "_Layout";
}

@using Registrar.Models;

<h1>Students</h1>
@if (@Model.Count == 0) //if list of students is 0
{
  <h3>No students have been added yet</h3>
}
else
{
  <ul>
    @* add | @Student.Department.Name *@
    @foreach(Student student in Model)
    {
      <div class="row">
        <div class="col-6">
          <li class="enlarge">
          @Html.ActionLink($"{student.Name}", "Details", new { id = student.StudentId, showForm = false})
          </li>
        </div>
        <div class="col-6">
          <li class="enlarge">
            @Html.ActionLink("Unenroll Student", "Delete", new {id = student.StudentId}, new { @style = "color: blue; font-size: small; text-align: right;"})
          </li>
        </div>
      </div>
    }
  </ul>
}

<p class="enlarge">@Html.ActionLink("Add a new student", "Create")</p>
<p class="enlarge">@Html.ActionLink("Home", "Index", "Home")</p>