@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Course

<h1>Course</h1>
  <h2>@Html.DisplayFor(model => model.Name)</h2>

@if(Model.JoinEntities.Count != 0)
{
  <ul>
  @foreach (CourseStudent join in Model.JoinEntities)
  {
    
    <div class="row">
      <div class="col-6">
        <li class="enlarge">@join.Student.Name</li>
      </div>
      <div class="col-6">
        <li class="enlarge">
          @using (Html.BeginForm("DeleteJoin", "Courses"))
          {
            <button type="submit">Drop student</button>
            @Html.Hidden("joinId", @join.CourseStudentId)
          }
        </li>
      </div>
    </div>
  }
  </ul>
  
}
@if(ViewBag.showForm == false)
{
  <p class="enlarge">@Html.ActionLink("Add A Student", "Details", new {showForm = true, id = Model.CourseId})</p>
}

@if (ViewBag.showForm == true)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CourseId)
    @Html.Label("Select Student")
    @Html.DropDownList("StudentId")
    <input type="submit" value="Add Student"/>
  }
}

<p class="enlarge">@Html.ActionLink("Edit Course Info", "Edit", new { id = @Model.CourseId })</p>
<p class="enlarge">@Html.ActionLink("Delete Course", "Delete", new { id = @Model.CourseId })</p>
<p class="enlarge">@Html.ActionLink("Back to Courses", "Index", "Courses")</p>
